#dropdown, #search-term, #start-year, #end-year{

    width:100%;
}

body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
}

#top-articles .card-body{
    border: 1px solid rgba(128, 128, 128, 0.678);
}

#top-articles h5::first-letter { 
    font-size: 100%;
    background-color:grey;
    color:white;
}